node-red.txt
[{"id":"687aef26.9de8f8","type":"inject","z":"f5d2789.9cf2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":600,"y":540.75,"wires":[["c5b349c5.897688"]]},{"id":"3f69a15e.6a740e","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"false","x":1374,"y":538,"wires":[]},{"id":"43571eee.0611b8","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1186,"y":538.25,"wires":[["3f69a15e.6a740e"]]},{"id":"b232dee2.cf3da","type":"inject","z":"f5d2789.9cf2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":653.5,"y":339.5,"wires":[["b3f26385.579248"]]},{"id":"e7d6120f.173aa8","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"payload","x":1326.5,"y":335.75,"wires":[]},{"id":"a69c458c.14a4f8","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1150.5,"y":334,"wires":[["e7d6120f.173aa8"]]},{"id":"b3f26385.579248","type":"oM2M-ONE-Application","z":"f5d2789.9cf2408","xN_CSE":"23c7296f.60bcb6","NM":"8bb32116.ed81","obixType":"","obixCategory":"","obixLocation":"","obiNMnnounce":false,"x":839.5,"y":333,"wires":[["a69c458c.14a4f8"]]},{"id":"c5b349c5.897688","type":"oM2M-ONE-Data-Container","z":"f5d2789.9cf2408","xN_CSE":"23c7296f.60bcb6","NM":"8bb32116.ed81","maxNrOfInstances":"100","obiNMnnounce":true,"x":861.5,"y":535.5,"wires":[["43571eee.0611b8"]]},{"id":"5e0949c0.92df4","type":"function","z":"f5d2789.9cf2408","name":"intput","func":"var data = {\n    type:'string',\n    unit:'get data',\n    data: msg.payload.data\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":821.38330078125,"y":711.88330078125,"wires":[["1a4288fd.72bf87"]]},{"id":"71eb3130.381c","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"false","x":1233.88330078125,"y":710.38330078125,"wires":[]},{"id":"f3aeb136.26a128","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8282/~/mn-cse/mn-name/PetFeeding/DATA","tls":"","x":1029.88330078125,"y":712.63330078125,"wires":[["71eb3130.381c"]]},{"id":"a6e62033.b70fa","type":"http in","z":"f5d2789.9cf2408","name":"","url":"/sensorData","method":"post","swaggerDoc":"","x":604.183349609375,"y":709.4332885742188,"wires":[["5e0949c0.92df4","577c4dac.4e572c"]]},{"id":"577c4dac.4e572c","type":"http response","z":"f5d2789.9cf2408","name":"","x":829.183349609375,"y":779.199951171875,"wires":[]},{"id":"b74f85fc.ec43b8","type":"inject","z":"f5d2789.9cf2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":646,"y":410,"wires":[["ce87e596.d17a4"]]},{"id":"db7b6a5b.d1d758","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"false","x":1319,"y":406.25,"wires":[]},{"id":"2516a3fa.25a17c","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1143,"y":404.5,"wires":[["db7b6a5b.d1d758"]]},{"id":"edfb2cb2.5d1c88","type":"inject","z":"f5d2789.9cf2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":629,"y":479,"wires":[["90844d65.7d8378"]]},{"id":"73072111.25b7c","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"false","x":1302,"y":475.25,"wires":[]},{"id":"3ee5187b.3894e8","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1126,"y":473.5,"wires":[["73072111.25b7c"]]},{"id":"3f7e42b7.d89596","type":"inject","z":"f5d2789.9cf2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":578,"y":597,"wires":[["f9eca57.bf43458"]]},{"id":"78105e33.223a98","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"false","x":1494,"y":597.25,"wires":[]},{"id":"1ec2875a.7d6991","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1318,"y":595.5,"wires":[["78105e33.223a98"]]},{"id":"ce87e596.d17a4","type":"oM2M-ONE-Descriptor-Container","z":"f5d2789.9cf2408","xN_CSE":"23c7296f.60bcb6","NM":"8bb32116.ed81","x":875.5,"y":404,"wires":[["2516a3fa.25a17c"]]},{"id":"90844d65.7d8378","type":"oM2M-ONE-Descriptor-ContentInstance","z":"f5d2789.9cf2408","xN_CSE":"23c7296f.60bcb6","NM":"8bb32116.ed81","obixType":"","obixLocation":"","x":886.5,"y":473,"wires":[["3ee5187b.3894e8"]]},{"id":"983839fa.d9e7b","type":"oM2M-ONE-Data-ContentInstance","z":"f5d2789.9cf2408","xN_CSE":"23c7296f.60bcb6","NM":"8bb32116.ed81","obixCategory":"","x":1081.5,"y":596,"wires":[["1ec2875a.7d6991"]]},{"id":"f9eca57.bf43458","type":"function","z":"f5d2789.9cf2408","name":"mydata","func":"var data = {\n    type:'string',\n    unit:'test data',\n    data:'1'\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":810,"y":595,"wires":[["983839fa.d9e7b"]]},{"id":"1a4288fd.72bf87","type":"oM2M-ONE-Data-ContentInstance","z":"f5d2789.9cf2408","xN_CSE":"23c7296f.60bcb6","NM":"8bb32116.ed81","obixCategory":"","x":978,"y":650,"wires":[["f3aeb136.26a128"]]},{"id":"9712846a.f90fd","type":"inject","z":"f5d2789.9cf2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":567,"y":923,"wires":[["15711a39.bfff56"]]},{"id":"a415dcb6.d95f3","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"false","x":1240,"y":919.25,"wires":[]},{"id":"55a36525.d5646c","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1064,"y":917.5,"wires":[["a415dcb6.d95f3"]]},{"id":"15711a39.bfff56","type":"oM2M-ONE-Subscription","z":"f5d2789.9cf2408","xN_CSE":"981a17e7.408498","NM":"8bb32116.ed81","contactPath":"http://localhost:1880/notification","CNT":"DATA","filterType":"","filterCriteria":"content","x":783.5,"y":915,"wires":[["55a36525.d5646c"]]},{"id":"5bf8ace8.52064c","type":"http in","z":"f5d2789.9cf2408","name":"GET DATA","url":"/locations","method":"get","swaggerDoc":"","x":531.5,"y":1330.5,"wires":[["e534037d.b636f"]]},{"id":"e534037d.b636f","type":"file in","z":"f5d2789.9cf2408","name":"","filename":"/home/iotclass/notification.xml","format":"utf8","x":791.5,"y":1329.5,"wires":[["db8bc929.0c8ca8"]]},{"id":"db8bc929.0c8ca8","type":"xml","z":"f5d2789.9cf2408","name":"","attr":"","chr":"","x":1000.5,"y":1332.5,"wires":[["aefb3100.f8e91"]]},{"id":"34b18087.d27908","type":"http response","z":"f5d2789.9cf2408","name":"","x":1339.5,"y":1402.5,"wires":[]},{"id":"aefb3100.f8e91","type":"json","z":"f5d2789.9cf2408","name":"","x":1141,"y":1330.5,"wires":[["bcdd3d48.31a7f"]]},{"id":"bcdd3d48.31a7f","type":"function","z":"f5d2789.9cf2408","name":"parse ","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar integer1 = object1.int;\nvar tres = integer1[0];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\n\nmsg.payload = {\n            \"data\":latitude,\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1022.5,"y":1417.5,"wires":[["34b18087.d27908","90af3524.0e63f"]]},{"id":"90af3524.0e63f","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"payload","x":1309.5,"y":1468.5,"wires":[]},{"id":"31d5a1d8.9aa016","type":"http in","z":"f5d2789.9cf2408","name":"Listen to HTTP","url":"/notification","method":"post","swaggerDoc":"","x":558.5,"y":1113.5,"wires":[["2a2aac80.11712c","e5fc6eed.cd2f18"]]},{"id":"2a2aac80.11712c","type":"xml","z":"f5d2789.9cf2408","name":"","attr":"","chr":"","x":787.5,"y":1114.5,"wires":[["81e4c355.5f7898"]]},{"id":"e5fc6eed.cd2f18","type":"http response","z":"f5d2789.9cf2408","name":"no response","x":789.5,"y":1205.5,"wires":[]},{"id":"81e4c355.5f7898","type":"function","z":"f5d2789.9cf2408","name":"parse xml","func":"var notification = msg.payload['m2m:sgn'];\n\nvar nev = notification['nev'][0];\n\nvar rep = nev['rep'][0];\n\nvar con = rep['con'][0];\n\nmsg.payload = con;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":939.5,"y":1184.5,"wires":[["24156d67.0462fa","ba98adee.8153c8"]]},{"id":"24156d67.0462fa","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"payload","x":1178.5,"y":1201.5,"wires":[]},{"id":"ba98adee.8153c8","type":"file","z":"f5d2789.9cf2408","name":"","filename":"/home/iotclass/notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1212,"y":1125.5,"wires":[]},{"id":"66d8c50a.a6d924","type":"inject","z":"f5d2789.9cf2408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":549,"y":829,"wires":[["34584979.bc9156"]]},{"id":"a8022ea2.f515b8","type":"debug","z":"f5d2789.9cf2408","name":"","active":true,"console":"false","complete":"false","x":1222,"y":825.25,"wires":[]},{"id":"8c35b27a.cfcb8","type":"http request","z":"f5d2789.9cf2408","name":"","method":"POST","ret":"txt","url":"","tls":"","x":1046,"y":823.5,"wires":[["a8022ea2.f515b8"]]},{"id":"34584979.bc9156","type":"oM2M-ONE-Application","z":"f5d2789.9cf2408","xN_CSE":"981a17e7.408498","NM":"8bb32116.ed81","obixType":"appTestData","obixCategory":"demo","obixLocation":"ntou","obiNMnnounce":true,"x":735,"y":822.5,"wires":[["8c35b27a.cfcb8"]]},{"id":"23c7296f.60bcb6","type":"xN_CSE","z":"f5d2789.9cf2408","sclId":"mn-cse","host":"localhost","port":"8282","baseUrl":"~"},{"id":"8bb32116.ed81","type":"NM","z":"f5d2789.9cf2408","appId":"PetFeeding","contactUrl":"localhost:1880"},{"id":"981a17e7.408498","type":"xN_CSE","z":"f5d2789.9cf2408","sclId":"mn-cse","host":"localhost","port":"8282","baseUrl":"~"}]
